COMPOSE_PROJECT_NAME=bigdata-lab

#HADOOP
HADOOP_IMAGE_TAG=2.0.0-hadoop3.2.1-java8
CLUSTER_NAME=bigdata-cluster

CORE_CONF_FS_DEFAULT=hdfs://namenode:9000
HDFS_REPLICATION=1

#Postgres
POSTGRES_USER=hive
POSTGRES_PASSWORD=hive
POSTGRES_DB=metastore

# Spark
SPARK_IMAGE_TAG=latest

#SPARK_MODE=master

SPARK_MASTER_HOST=spark-master

SPARK_MASTER_PORT=7077

SPARK_MASTER_WEBUI_PORT=8080

SPARK_WORKER_WEBUI_PORT=8081